body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p{
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.week{
  display: flex;
  justify-content: space-between;
}
.week__todos{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.week__day{
  height: 40px;
  background-color: #dbd056;
  color: #fff;
  font-weight: 900;
  margin: 4px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  box-shadow:  3px 3px 5px rgba(130, 112, 33, .5);
}
.week__todo{
  min-height: 40px;
  background-color: #eee8aa;
  margin: 4px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  box-shadow:  3px 3px 5px rgba(130, 112, 33, .5);
}
.add-todo{
  display: flex;
  flex-direction: column;
  margin: 4px;
  position: relative;
}
.add-todo__value{
  width: 95%;
    background: #d3ffe8;
    border: 1px solid #449e65;
    height: 40px;
    border-radius: 5px;
    box-shadow:  3px 3px 5px rgba(68, 158, 101, .5);
}
.add-todo__submit{
  margin: 0 0 0 2px;
  font-size: 2rem;
  color: #449e65;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}